<div class="mainpage-container">
    <h2>Student List</h2>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td><a [routerLink]="['/student', student.sno]">{{ student.name }}</a></td>
                <td>{{student.sno}}</td>
                <td>{{student.name}}</td>
                <td>{{student.course}}</td>
            </tr>
        </tbody>
    </table>

    <h2>Customers</h2>
    <table>
        <thead>
            <td><b>Customer Number</b></td>
            <td><b>Name</b></td>
            <td><b>Contact</b></td>
        </thead>
        <tbody>
            <tr *ngFor="let cus of customers; let i = index">
                <!-- <td><input type="checkbox" [(ngModel)]="cus.selected" (change)="onSelectionChange()"></td> -->
                <td>{{cus.CustomerNo}}</td>
                <td>{{cus.Name}}</td>
                <td>{{cus.Contact}}</td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
        <h2>{{ isEditMode ? 'Edit Customer' : 'Add New Customer' }}</h2>
        <form (ngSubmit)="isEditMode ? updateCustomer() : addCustomer()">
        <label for="customerNo">Customer No.</label>
        <input id="customerNo" [(ngModel)]="currentCustomer.CustomerNo" name="customerNo" required [readonly]="isEditMode" />

        <label for="name">Name</label>
        <input id="name" [(ngModel)]="currentCustomer.Name" name="name" required />

        <label for="contact">Contact</label>
        <input id="contact" [(ngModel)]="currentCustomer.Contact" name="contact" required />

        <button type="submit" class="add-btn">{{ isEditMode ? 'Update' : 'Add' }}</button>
        <button type="button" class="delete-btn" (click)="closeModal()">Cancel</button>
        </form>
    </div>
    </div>

    <button class="add-btn" (click)="openModal()">Add New Customer</button>

</div>
